<nav class="grey darken-3">
    <div class="class nav-wrapper container">
        <a href="#!" class="brand-logo center"> Hogwarts Directory </a>
        <a
            href="#"
            data-target="mobile-demo"
            class="sidenav-trigger show-on-large"
            ><i class="fas fa-bars"></i
        ></a>
        <ul class="sidenav" id="mobile-demo">
            
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/houses/gryffindors">Gryffindor</a></li>
            <li><a href="/houses/slytherins">Slytherin</a></li>
            <li><a href="/houses/hufflepuffs">Hufflepuff</a></li>
            <li><a href="/houses/ravenclaws">Ravenclaw</a></li>
        </ul>
    </div>
</nav>
