<nav class="header">
    <div class="class nav-wrapper container">
        <a href="../index" class="brand-logo center"> <span class="bold">M</span>ossa 
            <span class="bold">V</span>itri 
            <span class="bold">C</span>harm</a>
        <a
            href="#"
            data-target="mobile-demo"
            class="sidenav-trigger show-on-large"
            ><i class="fas fa-bars"></i
        ></a>
        <ul class="sidenav" id="mobile-demo">
            
            <li><a class="great_hall bold" href="/great_hall">Great Hall</a></li>
            <li><a class="gryffindor bold" href="/houses/common_room/gryffindor">Gryffindor</a></li>
            <li><a class="slytherin bold" href="/houses/common_room/slytherin">Slytherin</a></li>
            <li><a class="hufflepuff bold" href="/houses/common_room.hufflepuff">Hufflepuff</a></li>
            <li><a class="ravenclaw bold" href="/houses/common_room/ravenclaw">Ravenclaw</a></li>
        </ul>
    </div>
</nav>
