html{
    color: #5b4737 !important;
}

p{
    color: #5b4737!important;
    /* margin: 10px !important; */
}

h3{
    margin: 0;
    color: #5b4737!important;
}

.container{
    width: 100% !important;
    height: 100vh !important;
}

.Hogwarts{
    background: #ebca96 !important;
}

.bold{
    font-weight: 700 !important;
}

.img_fit{
    margin-bottom: 0 !important;
}
/* Buttons */
.fa-small{
    font-size: 16px !important;
}

.btn-float{
    left: 23px !important;
}
 
.header{
    background:#5b4737 !important;
}

/* _header */

.header a{
    color:#ebca96 !important;
}


/* Nav */

.sidenav{
    background:#5b4737 !important;
}

.sidenav> li:hover{
    background:#3b2f24 !important;
}


/* Forms */
input{
    border-color: #3b2f24 !important;
}

input:focus{
    border-bottom: 1px solid #3b2f24 !important;
    box-shadow: 0 1px 0 0 #3b2f24 !important;
}

dropdown-content li > a, .dropdown-content li > span{
    color: #5b4737 !important;
}

.input-field > label{
    color: #5b4737 !important;

}

/* Tables */

.card{ 
    background-color: #ebca9688
}

.crest{
    background: url(../images/house-crest-ravenclaw.png)  center no-repeat !important;
}

/* Index */



/* Great Hall */

.gh_room{
    margin: 0 !important;
    background: url(../images/great_hall.jpg) center center no-repeat !important;
    /* background-size: stretch !important; */
}

.gh_title h3{
    color: #3b2f24 !important;
}

.gh_data a, .gh_data span{
   color:#070503;
}

.gh_data thead{
    color: #ebca96;
    text-transform: uppercase ;
}



/* Gryffindor Common Room */

.gryffindor{
    background: #740001 !important;
}

.gryffindor:hover{
    background: #740001 !important;
}

.gryffindor-card, .gryffindor-card p {
    color: #ebca96 !important;
}

.gryffindor-card{
    padding-bottom: 9px !important;
}

.Gryffindor_info{
    background: #740001 !important;
    border: solid 3px #d3a625 !important;
}

.Gryffindor_room{
    height: inherit;
    background: url(../images/gryffindor.webp) center center fixed no-repeat !important;
    background-size: cover !important;
}

.Gryffindor_name{
   color: #d3a625 !important;
}

.Gryffindor_img{
    background: #d3a625 !important;
}

/* Sytherin Common Room */

.slytherin{
    background: #1a472a !important;
}

.slytherin:hover{
    background: #1a472a !important;
}

.slytherin-card, .slytherin-card p {
    color: #ebca96 !important;
}

.Slytherin_info{
    background: #1a472a !important;
    border: solid 3px #5d5d5d !important;
}

.Slytherin_room{
    background: url(../images/gryffindor.webp) center center fixed no-repeat !important;
    background-size: stretch !important;
}

.Slytherin_name{
   color: #5d5d5d !important;
}

.Slytherin_img{
    background: #5d5d5d !important;
}

/* Hufflepuff Common Room */

.hufflepuff{
    background: #fff4b1 !important;
}

.hufflepuff:hover{
    background: #fff4b1 !important;
    color:#3b2f24 !important;
}

.hufflepuff-card {
    color: #3b2f24 !important;
}

.Hufflepuff_info{
    background: #fff4b1 !important;
    border: solid 3px #212121 !important;
}

.Hufflepuff_room{
    background: url(../images/gryffindor.webp) center center fixed no-repeat !important;
    background-size: stretch !important;
}

.Hufflepuff_name{
   color: #212121 !important;
}

.Hufflepuff_img{
    background: #212121 !important;
}

/* Ravenclaw Common Room */

.ravenclaw{
    background: #0e1a40 !important;
}

.ravenclaw:hover{
    background: #0e1a40 !important;
}

.ravenclaw-card, .ravenclaw-card p {
    color: #ebca96 !important;
}

.ravenclaw-card{
    padding-bottom: 22px !important;
}


.ravenclaw_info{
    background: #0e1a40 !important;
}

.ravenclaw_room{
    background: url(../images/ravenclaw.webp) center center fixed no-repeat !important;
    background-size: stretch !important;
}

.ravenclaw_name{
   color: #0e1a40 !important;
}

.ravenclaw_img{
    background: #946b2d !important;
}


