<div class="row">
    <div class="col s12 m8">
        <h3>
            Person Name
        </h3>
        <div class="card story">
            <div class="card-content">
                <table class="striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>
                                    <a href="#">
                                   Person Data
                                    </a>
                                </td>
                            </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <!-- Change: add 'referrerpolicy="no-referrer"' to stop google from blocking access to the profile images -->
                <img src="#" referrerpolicy="no-referrer" class="circle responsive-img img-small">
            </div>
        </div>
    </div>
</div>